body{
	font-family: 'cursive',monospace;
	
	margin: 0;
	
	line-height: 1;
}
 footer a{
	text-decoration: none;
	color: #300101;
	}
#showcase{
	margin:0 ;
	padding: 0;
	background: url('wallpaper1.jpg') no-repeat center/cover;
	width: 100%;
	height: 100vh;  /*viewport-height*/
	position: relative;
	overflow: hidden;
	color: #FFFAFA;
}
#showcase .container{
	margin-top: 20vh;
}
#showcase h1{
	text-align: center;
	font-size: 5rem;
	margin: 0;
}
#showcase h2{
	text-align: right;
	font-size: 1.5rem;
	font-family:  'cursive',monospace;
	margin-top: 10vh;
	max-width: 70%;
	padding-left: 30rem;
}
 p{
	text-align: center;
	font-size: 1.5rem;
}
nav{
	height: 50px;
	width: 100%;

}
nav ul{
	margin: 0.5rem;
	padding: 10px;
}
nav li{
	display: table;
	float: right;
}
nav a{
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: blink;
	padding: 10px ;
	color: #FFFAFA;
	font-size: 1.4rem;
}
nav li:hover{
	background-color:#79AEF1;
}
.container{
    text-align: center;
	margin: 0 auto;
	padding:3rem ;
    
}
button{
	display: inline-block;
	grid-gap: 10px;
    border-radius: 20px;
	text-align: initial;
	font-size: 25px; 
	block-size: 300px;
	background: url('button2.jpg') no-repeat center/cover;
    width: 20%;
	color: #0E0000;

}
.section a{
	color: #B90707;
	font-size: 1.5rem;
}
footer .footer{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr) ;
	padding: 2rem;
	text-align: left;
    background-color: #D0CBCB;
	font-size: 14px;
}
footer .footer ul{
	list-style: none;
}
footer .footer ul li:first-child{
	font-size: 1.5rem;
	padding: 0.5rem;
	border-bottom: #012072 solid 3px;
	margin-bottom: 1rem;
}
footer .footer-bottom{
	background-color: #eee;
	text-align: center;
}
.section{
	text-align: center;
	padding: 2rem 0;
	background: url('wallpaper.jpg') no-repeat center/cover;
}
.section-head{
	font-size: 2.5rem;
	margin: 0;
	text-decoration: underline;
}
.btn{
	display: inline-block;
	padding: 15px;
    border-radius: 20px;
	text-align: center;
	font-size: 50px; 
	width: 20%;
	height: 20%;
	size: 400px;
	color: #FFFCF7;
	margin: 50px;
}
:root{
	--primary-color: #b90415;
	--primary-color-hover: #d3071b;
}
.btn-primary {
	background-color: var(--primary-color);
}
.btn-primary:hover {
	background-color: var(--primary-color-hover);
}